html {
  max-width: 1200px;
  min-width: 900px;
  box-sizing: border-box;
  margin: 0 auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.main-wrapper {
  background-color: #849d8f;
  background-image: url('../img/slider-1.png');
  background-position: top center;
  background-repeat: no-repeat;

  transition: background-image 0.5s ease, background-color 0.3s ease;

  padding-top: 9px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover,
a:active {
  color: #ffbc9e;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.button {
  padding: 11px 22px;
  border-radius: 30px;

  font-size: 18px;
  line-height: 24px;

  text-align: center;
  vertical-align: middle;

  background-color: #ffffff;
  background-image: linear-gradient(0deg, rgb(202, 56, 36) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);

  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);
}

.button:active {
  color: #ffffff;
  background-color: #000000;
  background-image: linear-gradient(180deg, rgba(231, 74, 53, 0.93) 0%, rgba(242, 104, 67, 0.93) 100%);
  box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}

.container {
  margin: 0 2.3%;
}

.flex {
  display: flex;
}


/* ---Стили для header--- */

.main-header-wrapper {
  align-items: center;
}

.main-nav {
  justify-content: space-between;
  width: 86%;

  margin-top: 3px;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header-logo img {
  max-width: 154px;
  height: 64px;
}

.main-header-logo {
  margin-right: 8px;
}

.site-nav {
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 18px;

  width: 378px;
}

.site-nav a {
  background-color: transparent;
  padding: 7px 14px;
  border-radius: 20px;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #333333;
  background-color: #f7f6f3;
}

.site-nav > li > a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-nav-current > a:not([href]),
.site-nav-current > a:hover,
.site-nav-current > a:active {
  color: #ffffff;
  background-color: #d07058;
  box-shadow: none;
}

.site-nav .underline:hover,
.site-nav .underline:active,
.site-nav-current .underline {
  border-bottom: none;
}

.site-nav > li:hover .popup-menu {
  animation: main-animation 0.6s;
  display: block;
}

.underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.underline:hover,
.underline:active {
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.user-nav {
  justify-content: space-between;
  width: 245px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.header-search {
  position: relative;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.header-login-link,
.header-basket {
  position: relative;
  padding: 8px 17px 8px 43px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.header-basket::before,
.header-login-link::before,
.header-search::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;

  top: 7px;
  left: 15px;

  background-repeat: no-repeat;
}

.header-basket::before {
  background-image: url('../img/basket.svg');
}

.header-login-link::before {
  background-image: url('../img/entrance-white.svg');
}

.header-search::before {
  top: 8px;
  left: 8px;
  background-image: url('../img/icon-search.svg');
}

.header-search:hover,
.header-search:focus,
.header-login-link:hover,
.header-login-link:focus,
.header-basket:hover,
.header-basket:focus {
  transition-duration: 0.5s;
  color: #323232;
  background-color: #f8f7f4;
}

.header-search:hover::before,
.header-search:focus::before {
  transition-duration: 0.5s;
  background-image: url('../img/search-black.svg');
}

.header-login-link:hover::before,
.header-login-link:focus::before {
  transition-duration: 0.5s;
  background-image: url('../img/entrance.svg');
}

.header-basket:hover::before,
.header-basket:focus::before {
  transition-duration: 0.5s;
  background-image: url('../img/basket-black.svg');
}

.user-nav > li:hover .popup-search,
.user-nav > li:hover .popup-login,
.user-nav > li:hover .popup-basket-empty {
  animation: main-animation 0.6s;
  display: block;
}

.search,
.login,
.basket {
  position: relative;
  padding-bottom: 15px;
}

.login {
  padding-left: 4px;
}

.main-header-timetable {
  margin: 0;
  text-align: right;

  margin-top: -7px;
  margin-right: -1px;
}

.mode {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}

.phone {
  font-size: 22px;
  line-height: 24px;
}

.phone:hover {
  color: #ffffff;
}

.popup-basket-empty {
  position: absolute;
  top: 27px;
  right: 0;

  width: 250px;
  text-align: center;

  display: none;

  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  padding: 0 15px;
}


/* ---Стили для формы поиска--- */

.popup-search {
  position: absolute;
  top: 27px;
  right: 0;

  display: none;
  z-index: 1;

  width: 341px;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  padding: 20px 15px;
}

.search-form input {
  width: 311px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;

  font: inherit;
  line-height: 24px;

  color: #323232;
  background-color: #ffffff;

  padding: 9px 13px;
}

.search-form input:hover {
  border-color: rgba(154, 154, 154, 0.52);
  box-shadow: inset 0px 0px 0px 1px rgba(154, 154, 154, 0.52);
}

.search-form input:focus {
  border-color: rgba(46, 136, 228, 0.52);
  box-shadow: inset 0px 0px 0px 1px rgba(46, 136, 228, 0.52);
  outline: none;
}

.search-form input::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.search-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* ---Стили для формы авторизации--- */

.popup-login {
  position: absolute;
  top: 27px;
  right: 0;

  display: none;
  z-index: 1;

  width: 277px;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  padding: 20px 19px;
}

.login-form p {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.login-form input {
  width: 241px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;

  font: inherit;
  line-height: 24px;

  color: #323232;
  background-color: #ffffff;

  padding: 9px 13px;
}

.login-form input:hover {
  border-color: rgba(154, 154, 154, 0.52);
  box-shadow: inset 0px 0px 0px 1px rgba(154, 154, 154, 0.52);
}

.login-form input:focus {
  border-color: rgba(46, 136, 228, 0.52);
  box-shadow: inset 0px 0px 0px 1px rgba(46, 136, 228, 0.52);

  outline: none;
}

.login-form input::-webkit-input-placeholder {
  font-size: 14px;
}

.login-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.login-registration a:last-child {
  padding-top: 2px;
}

.enter-wrapper {
  align-items: center;
}

.popup-login .button {
  color: #fefefe;
  border: none;
  border-radius: 21px;
  padding: 11px 24px;
}

.enter-wrapper p {
  padding: 0;
  margin-left: 21px;
}

.login-registration a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.login-registration a:hover,
.login-registration a:active {
  color: #e84d37;
}

.underline-black {
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.underline-black:hover,
.underline-black:active {
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}


/* ---Стили для слайдера--- */

.slides {
  position: relative;
  margin-top: 276px;
  margin-bottom: 40px;

  text-align: center;
}

.slides-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

[class^='slide-'],
input[type='radio'] {
  display: none;
}

.radio-1:checked ~ .main-wrapper label[for='product-1'],
.radio-2:checked ~ .main-wrapper label[for='product-2'],
.radio-3:checked ~ .main-wrapper label[for='product-3'] {
  background-color: #ffffff;
}

.radio-1:checked ~ .main-wrapper .slide-1,
.radio-2:checked ~ .main-wrapper .slide-2,
.radio-3:checked ~ .main-wrapper .slide-3 {
  display: block;
}

.radio-1:checked ~ .main-wrapper {
  background-color: #849d8f;
  background-image: url('../img/slider-1.png');
}

.radio-2:checked ~ .main-wrapper {
  background-color: #8996a6;
  background-image: url('../img/slider-2.png');
}

.radio-3:checked ~ .main-wrapper {
  background-color: #9d8b84;
  background-image: url('../img/slider-3.png');
}

.main-wrapper::before,
.main-wrapper::after {
  content: '';

  visibility: hidden;
}

.main-wrapper::before {
  background-image: url('../img/slider-2.png');
}

.main-wrapper::after {
  background-image: url('../img/slider-3.png');
}

[class^='slide-'] p {
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;

  margin: 0 auto;
  margin-bottom: 29px;
  padding: 0;

  width: 680px;
}

.slides .button {
  display: inline-block;
  font-size: 32px;
  line-height: 44px;
  padding: 10px 40px;
  border-radius: 50px;

  background-image: linear-gradient(0deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.slides .button:hover,
.slides .button:focus {
  background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
}

.slides .button:active {
  background-color: #000000;
  background-image: linear-gradient(180deg, rgba(231, 74, 53, 0.93) 0%, rgba(242, 104, 67, 0.93) 100%);
  box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}

.slides-switches {
  position: absolute;
  top: 170px;
  left: 0;
}

.slider-btn {
  display: block;
  font-size: 0;
  width: 21px;
  height: 21px;

  border-radius: 50%;
  border: 2px solid #ffffff;

  margin-right: 8px;

  background-color: transparent;
  cursor: pointer;
}


/* ---Стили для блока 'Выгодные предложения'--- */

.promo {
  margin-bottom: 41px;
}

.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;

  justify-content: space-between;
}

.promo-item {
  flex-direction: column;

  width: calc(50% - 1.13%);
  min-height: 229px;

  border-radius: 16px;

  padding: 16px 20px 23px 19px;
}

.promo-item h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
}

.promo-item p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.promo-item .button {
  margin-top: auto;
  margin-left: auto;
}

.promo-item .button-raspberries {
  padding: 11px 24px;
}

.promo-list li:first-child {
  background-image: url('../img/raspberry.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
}

.promo-list li:last-child {
  background-image: url('../img/chocolate.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
}


/* ---Стили для блока 'Хиты продаж'--- */

.hits {
  margin-bottom: 38px;
}

.hits-list {
  list-style: none;
  margin: 0;
  padding: 0;

  justify-content: space-between;
}

.hits-item {
  position: relative;
  width: calc(25% - 1.7%);
}

.hits-item h3 {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  z-index: 5;
}

.hits-item a {
  flex-direction: column-reverse;
}

.hits-item img {
  border-radius: 50%;
}

.price-wrapper {
  position: relative;
  margin-bottom: 7px;

  z-index: 2;
}

.hits-item a:hover,
.hits-item a:active {
  color: #ffffff;
}

.hits-item .underline:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.hits-item-price {
  margin: 0;
  position: absolute;
  bottom: 25px;
  left: 0;
  font-size: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hits-item-weight::before,
.item-weight::before {
  content: '';
  padding: 7px 18px 0px;
  background-image: url('../img/rub.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.hits-item-weight {
  font-size: 30px;
  font-weight: 500;
}

.hits-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url('../img/hit.jpg');
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 5;
}

.button-wrapper {
  align-items: center;
  position: absolute;
  top: -5px;
  left: -13px;

  width: calc(100% + 26px);
  height: calc(100% + 82px);

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  opacity: 0;

  z-index: 3;
}

.button-wrapper .button {
  width: 200px;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 23px;

  padding: 10px 0;
  border-radius: 20px;
  font-weight: 700;

  cursor: pointer;

  background-image: linear-gradient(0deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);
}

.button-wrapper .button:hover,
.button-wrapper .button:focus {
  color: #ffffff;
  background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);
}

.button-wrapper .button:active {
  color: #ffffff;
  background-color: #000000;
  background-image: linear-gradient(180deg, rgba(231, 74, 53, 0.93) 0%, rgba(242, 104, 67, 0.93) 100%);
  box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}

.hits-item:hover .button-wrapper,
.catalog-list-item:hover .button-wrapper {
  opacity: 1;
}

.catalog-list-item:hover .price-wrapper,
.hits-item:hover .price-wrapper {
  z-index: 5;
}




/* ---Стили для блока 'Преимущества компании'--- */

.advantages {
  background-color: #e9dcbe;
  background-image: url('../img/wafer.jpg');
  background-position: 0 0;
  background-repeat: repeat;

  padding: 24px 19px;
  margin-bottom: 40px;
  border-radius: 15px;
}

.advantages h3 {
  color: #323232;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-align: justify;

  margin: 0;
  padding-right: 90px;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;

  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-item {
  position: relative;
  width: calc(50% - 1.13%);

  padding-top: 22px;
  padding-left: 57px;
}

.advantages-item p {
  margin: 0;
  color: #323232;
  font-weight: 400;
}

.advantages-list li:first-child::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url('../img/advant-ice-cream.svg');
  background-position: 0 0;
  background-repeat: repeat;
}

.advantages-list li:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url('../img/advant-cow.svg');
  background-position: 0 0;
  background-repeat: repeat;
}

.advantages-list li:nth-child(3)::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url('../img/advant-leaf.svg');
  background-position: 0 0;
  background-repeat: repeat;
}

.advantages-list li:last-child::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url('../img/advant-thermo.svg');
  background-position: 0 0;
  background-repeat: repeat;
}


/* ---Стили для блога--- */

.blog-subscribe-wrapper {
  justify-content: space-between;

  margin-bottom: 40px;
}

.blog {
  width: calc(50% - 1.13%);
  min-height: 220px;

  background-color: #ffffff;
  background-image: url('../img/strawberry.jpg');
  background-position: 99% 100%;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 23px 19px;

  border-radius: 15px;
}

.blog p {
  margin: 0;
  margin-bottom: 5px;
  color: #323232;
  font-weight: 500;
}

.blog h3 {
  margin: 0;
  color: #323232;
  font-size: 24px;
  line-height: 30px;

  width: 292px;
}

.blog-underline {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: linear-gradient(transparent 0%, transparent 85%, #323232 85%, #323232 92%, transparent 92%, transparent 100%);
}


/* ---Стили для раздела с подпиской--- */

.subscribe {
  flex-direction: column;
  justify-content: space-between;

  width: calc(50% - 1.13%);
  min-height: 220px;

  position: relative;

  background-image:
    url('../img/bg-light.png'),
    repeating-linear-gradient(
      135deg,
     #fe9e90 0px,
     #fe9e90 5px,
     #f8f7f4 5px,
     #f8f7f4 10px,
     #92cdff 10px,
     #92cdff 15px,
     #f8f7f4 15px,
     #f8f7f4 20px);

  background-size: 98% 96%, cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 35px 27px 39px 27px;
  border-radius: 15px;
}

.subscribe p {
  margin: 0;
  font-weight: 400;
  color: #5a5a5a;
}

.subscribe .button {
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  margin-top: -1px;
}

.subscribe-form {
  justify-content: space-between;
}

.subscribe-form input {
  width: 368px;

  font: inherit;
  line-height: 24px;

  color: #323232;
  background-color: #ffffff;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;

  padding: 9px 12px;
  margin-right: 8px;
}

input::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}

.subscribe-form input:hover {
  border-color: rgba(154, 154, 154, 0.52);
  box-shadow: inset 0px 0px 0px 1px rgba(154, 154, 154, 0.52);
}

.subscribe-form input:focus {
  border-color: rgba(46, 136, 228, 0.52);
  box-shadow: inset 0px 0px 0px 1px rgba(46, 136, 228, 0.52);

  outline: none;
}

.subscribe-form input:focus::-webkit-input-placeholder {
  color: transparent;
}


/* ---Стили для раздела 'Адрес и телефон компании'--- */

.map {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.map img {
  max-width: 1200px;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
}

.map iframe {
  width: 100%;
  position: relative;
  z-index: 3;

  border: none;
}

.address-info {
  flex-direction: column;

  position: absolute;
  top: 63px;
  right: 2.3%;

  width: 302px;

  color: #323232;
  background-color: #ffffff;

  padding: 28px 25px;
  border-radius: 15px;
  z-index: 5;
}

.address-info p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.address-info p:first-child {
  width: 155px;
}

.address-info p:nth-child(2),
.address-info p:nth-child(4) {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.address-info p:nth-child(2) {
  margin-bottom: 18px;
}

.address-info p:nth-child(3) {
  margin-bottom: 5px;
}

.address-info p:nth-child(5) {
  margin-bottom: 25px;
}

.address-info .button {
  padding: 11px 27px;
  margin: 0 auto;
  margin-bottom: 3px;
}


/* ---Стили для footer--- */

.main-footer {
  justify-content: space-between;
  align-items: center;

  margin-top: 17px;
  padding-bottom: 24px;
}

.footer-social {
  width: calc(23.3% - 1.51%);
  margin-top: 7px;
  margin-right: 40px;
}

.social-btn,
.footer-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social {
  display: block;
  width: 38px;
  height: 38px;

  border: 4px solid rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.8;

  border-radius: 50%;
  margin-right: 11px;
}

.social-btn-tw {
  background-image: url('../img/social-twitter.svg');
}

.social-btn-inst {
  background-image: url('../img/social-instagram.svg');
}

.social-btn-fb {
  background-image: url('../img/social-facebook.svg');
}

.social-btn-vk {
  margin-right: 0;
  background-image: url('../img/social-vkontakte.svg');
}

.social-btn-tw:hover,
.social-btn-inst:hover,
.social-btn-fb:hover,
.social-btn-vk:hover {
  border: 4px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.social-btn-tw:active,
.social-btn-inst:active,
.social-btn-fb:active,
.social-btn-vk:active {
  border: 4px solid rgba(255, 255, 255, 1);
  opacity: 0.7;
}

.footer-nav {
  width: calc(48.86% - 3.02%);
  margin-top: 10px;
}

.footer-nav-list {
  position: relative;
  flex-wrap: wrap;

  width: 340px;
  margin: 0 auto;
}

.footer-nav-list li {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  padding-bottom: 5px;

  width: 142px;
}

.footer-nav-list li:first-child {
  font-weight: 700;
}

.footer-nav-list li:last-child {
  width: 170px;
}

.heart::before {
  content: '';
  position: absolute;
  top: 3px;
  left: -22px;
  width: 18px;
  height: 15px;
  background-image: url('../img/heart.svg');
  background-repeat: no-repeat;
}

.footer-copyright {
  width: calc(23.3% - 1.5%);
  margin-top: -5px;

  text-align: right;
}

.footer-copyright img {
  margin-right: 80px;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  margin: 0;
  padding: 0;
  margin-right: -2px;
}


/* ---Стили для выпадающего меню--- */
.menu,
.site-nav-current {
  position: relative;
}

.popup-menu {
  position: absolute;
  top: 30px;
  left: -6px;
  width: 143px;

  background-color: #f8f7f4;
  border-radius: 5px;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  padding-bottom: 9px;
  padding-top: 5px;

  display: none;
}

.popup-menu-list {
  position: relative;

  margin: 0;
  padding: 0;
  list-style: none;
}

.popup-menu-list li:first-child {
  margin-bottom: 9px;
}

.popup-menu-list li:first-child a {
  font-weight: 700;
}

.popup-menu-list li:first-child::before {
  content: '';

  width: 128px;
  height: 1px;

  position: absolute;
  top: 33px;
  right: 9px;

  background-color: rgba(50, 50, 50, 0.2);
}

.popup-menu-list a {
  display: block;
  color: #323232;

  padding: 5px 20px 7px 20px;
  margin-bottom: 2px;
  border-radius: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.popup-menu-list a:hover {
  background-color: rgb(251, 222, 215);
}

.popup-menu-list a:active {
  background-color: rgb(246, 181, 165);
}

.popup-menu-list .active a {
  color: #ffffff;
  background-color: rgb(208, 112, 88);
}


/* ---Стили для формы обратной связи--- */

.popup-feedback {
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -240px;

  width: 477px;

  background-color: #f8f7f4;
  border-radius: 10px;

  padding: 15px 24px;

  display: none;

  z-index: 11;
}

.popup-overlay {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  display: none;
  z-index: 10;
}

.popup-feedback h3 {
  margin: 1px 0 9px;
  padding: 0;
}

.popup-feedback h3 {
  color: #323232;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-form {
  flex-direction: column;
}

.feedback-form p {
  margin: 10px 0;
  padding: 0;
}

.feedback-form input {
  width: 267px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;

  font: inherit;
  line-height: 24px;

  color: #323232;
  background-color: #ffffff;

  padding: 9px 13px;
}

.feedback-form input:hover {
  border-color: rgba(154, 154, 154, 0.52);
  box-shadow: inset 0px 0px 0px 1px rgba(154, 154, 154, 0.52);
}

.feedback-form input:focus {
  border-color: rgba(46, 136, 228, 0.52);
  box-shadow: inset 0px 0px 0px 1px rgba(46, 136, 228, 0.52);

  outline: none;
}

.feedback-form input::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.feedback-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.feedback-form textarea {
  width: 428px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;

  font: inherit;
  line-height: 24px;

  color: #323232;
  background-color: #ffffff;

  padding-left: 13px;
  padding-top: 8px;
  padding-bottom: 2px;
}

.feedback-form textarea:hover {
  border-color: rgba(154, 154, 154, 0.52);
  box-shadow: inset 0px 0px 0px 1px rgba(154, 154, 154, 0.52);
}

.feedback-form textarea:focus {
  border-color: rgba(46, 136, 228, 0.52);
  box-shadow: inset 0px 0px 0px 1px rgba(46, 136, 228, 0.52);

  outline: none;
}

.feedback-form textarea::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.feedback-form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.popup-feedback .button {
  color: #fefefe;
  border: none;
  padding: 9px 24px;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 12px;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 12px;

  width: 24px;
  height: 24px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.popup-close::before,
.popup-close::after {
  content: '';

  position: absolute;
  top: 12px;
  left: 1px;

  width: 22px;
  height: 2px;

  background-color: #323232;
}

.popup-close::before {
  transform: rotate(45deg);
}

.popup-close::after {
  transform: rotate(-45deg);
}


/* ---СТРАНИЦА КАТАЛОГА--- */

.inner-page {
  background-color: #849d8f;
  padding-top: 9px;
  padding-bottom: 4px;

  background-image: linear-gradient(rgba(255, 255, 255, 0.2) 0, transparent 656px);
}

.inner-page h1 {
  font-size: 35px;
  line-height: 41px;
  padding-top: 2px;

  margin: 0;
  margin-bottom: 12px;
}

.inner-page .user-nav {
  width: 261px;
}

.header-wrapper {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.inner-page .header-basket {
  color: #323232;
  background-color: #f8f7f4;
}

.inner-page .header-basket::before {
  background-image: url('../img/basket-red.svg');
}

.user-nav > li:hover .popup-basket {
  display: block;
  animation: main-animation 0.6s;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;

  align-items: center;
  align-self: flex-end;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs a {
  position: relative;
  margin-right: 21px;
}

.breadcrumbs a::before,
.breadcrumbs a::after {
  content: '';
  position: absolute;

  top: 6px;
  right: -10px;

  width: 6px;
  height: 6px;

  background-color: transparent;
  box-shadow: 1px 1px 0 1px white;
  transform: rotate(-45deg) scale(0.5);
}

.breadcrumbs a::after {
  right: -13px;
}

.filtres {
  margin-bottom: 40px;
}

.filter-sorting,
.filter-price,
.filter-fat-content legend,
.filter-fillers legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.price-controls {
  width: 170px;
  margin-left: 14px;
  margin-bottom: 6px;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;

  cursor: pointer;
}

.range-controls {
  position: relative;

  width: 220px;

  padding: 16px;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 20px;
}

.range-controls .scale {
  width: 176px;
  height: 4px;

  transform: translateX(6px);

  background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  width: 57%;
  height: 4px;

  transform: translateX(22px);
  background-color: #f8f7f4;
}

.range-toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;

  background-color: #ababab;
  border: 8px solid #ffffff;

  border-radius: 50%;
  cursor: pointer;
}

.range-toggle-min {
  left: 35px;
}

.range-toggle-max {
  right: 67px;
}

.price-controls input {
  width: 28px;
  margin: 0;
  padding: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.filter-sorting {
  margin-right: 15px;
}

.filter-sorting label {
  display: block;
  margin-bottom: 5px;
  margin-left: 16px;
}

.filter-sorting select {
  width: 193px;
  color: #ffffff;
  background-color: rgba(248, 247, 244, 0.2);

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;

  background-image: url('../img/icon-down-white.svg');
  background-repeat: no-repeat;
  background-position: 92% 54%;

  border: none;
  border-radius: 20px;

  padding: 9px 15px;
}

.filter-sorting select:hover {
  color: #323232;

  background-image: url('../img/icon-down-dir.svg');
  background-repeat: no-repeat;
  background-position: 92% 54%;
}

.filter-sorting select:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filters-wrapper {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px;

  width: 860px;
}

.filtres fieldset {
  border: none;
}

.filter-fillers {
  margin: 0;
  padding: 0;
}

.filter-fillers legend {
  padding-bottom: 7px;
  padding-left: 15px;
}

.filter-fat-content {
  margin-top: 10px;
}

.filter-fat-content legend {
  padding-left: 15px;
}

.filter-fat-content-list,
.filter-fillers-list {
  margin: 0;
  padding: 0;
  list-style: none;

  justify-content: space-between;
}

.filter-fat-content-list {
  width: 414px;
  color: #ffffff;
  background-color: rgba(248, 247, 244, 0.2);

  border-radius: 20px;
  padding: 7px 15px;
}

.filter-option label {
  position: relative;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  padding-left: 28px;

  cursor: pointer;
}

.filter-fat-content-list label {
  padding-left: 31px;
}

.radio-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 22px;
  height: 22px;

  background-color: transparent;
  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

input[type='radio']:checked + .radio-indicator::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;

  width: 8px;
  height: 8px;

  background-color: transparent;
  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.radio-indicator:hover,
input[type='radio']:checked + .radio-indicator:hover::after {
  opacity: 1;
}

input[type='radio']:disabled + .radio-indicator,
input[type='radio']:checked:disabled + .radio-indicator::after {
  opacity: 0.4;
}

input[type='radio']:focus + .radio-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-fillers-list {
  width: 703px;
  color: #ffffff;
  background-color: rgba(248, 247, 244, 0.2);

  border-radius: 20px;
  padding: 7px 18px;
}

input[type='checkbox']:not(:checked) + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: -5px;

  width: 20px;
  height: 20px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  opacity: 0.8;
}

input[type='checkbox']:checked + .checkbox-indicator::after {
  content: '';

  position: absolute;
  top: -3px;
  left: -2px;

  width: 24px;
  height: 24px;

  opacity: 0.8;

  background-image: url('../img/checkbox-on-white.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

input[type='checkbox']:not(:checked):hover + .checkbox-indicator,
input[type='checkbox']:checked:hover + .checkbox-indicator::after {
  opacity: 1;
}

input[type='checkbox']:not(:checked):focus + .checkbox-indicator,
input[type='checkbox']:checked:focus + .checkbox-indicator::after {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input[type='checkbox']:not(:checked):disabled + .checkbox-indicator,
input[type='checkbox']:disabled + .checkbox-indicator::after,
input[type='checkbox']:not(:checked):hover:disabled + .checkbox-indicator,
input[type='checkbox']:checked:hover:disabled + .checkbox-indicator::after {
  opacity: 0.4;
}

.filters-wrapper .filter-button {
  color: #ffffff;
  border: 2px solid #ffffff;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.188);
  background-image: none;
  box-shadow: none;
  padding: 7px 27px;
  margin-top: 22px;
}

.filters-wrapper .filter-button:hover {
  color: #323232;
  background-color: #fbfcfb;
}

.filters-wrapper .filter-button:active {
  color: #323232;
  background-color: #ededed;
  border: none;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.catalog {
  margin-bottom: 43px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;

  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-list-item {
  position: relative;
  width: calc(25% - 1.7%);
  margin-bottom: 38px;
}

.catalog-list-item h3 {
  margin: 0;
  padding: 0 5px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  z-index: 5;

  text-align: center;
}

.catalog-list-item img {
  border-radius: 50%;
}

.catalog-list-item a {
  flex-direction: column-reverse;
}

.item-price {
  position: absolute;
  bottom: 25px;
  left: 0;
  margin: 0;
  font-size: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-list-item a:hover,
.catalog-list-item a:active {
  color: #ffffff;
}

.catalog-list-item .underline:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.item-weight {
  font-size: 30px;
  font-weight: 500;
}

.pagination-list {
  padding: 0;
  list-style: none;

  justify-content: flex-end;
  margin-right: -9px;
}

.pagination-list a {
  display: block;
  color: #fbfcfb;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  text-align: center;
  padding: 5px 0;
  margin-right: 4px;

  width: 25px;
  height: 25px;
}

.pagination-list a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.item-current a,
.item-current a:hover,
.pagination-list a:active {
  color: rgb(53, 53, 53);
  background-color: #ffffff;
  border-radius: 50%;
}

.pagination-list .prev {
  background-image: url('../img/icon-right-small.svg');
  background-position:45% 45%;
  background-repeat: no-repeat;

  transform: rotate(180deg);
  margin-right: 6px;
}

.pagination-list .next {
  background-image: url('../img/icon-right-small.svg');
  background-position: 45% 60%;
  background-repeat: no-repeat;

  margin-left: 4px;
}

.prev a,
.next a {
  font-size: 0;
}

.next a {
  margin-right: 0;
}

.pagination-list .disabled {
  opacity: 0.2;
}

.line-wrapper {
  position: relative;
}

.line {
  position: absolute;
  top: 15px;
  left: 0px;

  width: 100%;
  height: 1px;

  opacity: 0.3;

  background-color: #ffffff;
}

.inner-page .main-footer {
  margin-top: 55px;
}


/* ---Стили для всплывающей корзины--- */

.popup-basket {
  position: absolute;
  top: 28px;
  right: -2px;
  width: 539px;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  padding: 15px 13px;

  z-index: 10;

  display: none;
}

.basket-line {
  content: '';
  position: absolute;
  left: 15px;
  bottom: 110px;

  width: 510px;
  height: 1px;

  background-color:#cacac7;
}

.basket-products-list {
  color: #323232;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  margin-bottom: 20px;
}

.basket-products-list td {
  padding: 2px 4px 2px 6px;
  padding-bottom: 13px;
}

.basket-product-name {
  width: 230px;
}

.basket-price {
  opacity: 0.5;
}

.basket-product-cost {
  width: 137px;
  text-align: center;
}

.basket-products-list img {
  border-radius: 50%;
}

.delete-product {
  position: relative;
  width: 18px;

  font-size: 0;
  cursor: pointer;
}

.delete-product::before {
  content: '';
  position: absolute;
  left: 6px;

  padding: 10px;
  background-image: url('../img/cross-small.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.basket-wrapper {
  flex-direction: column;
}

.basket-name {
  display: block;
  margin-top: 9px;
  margin-bottom: -4px;
}

.basket-wrapper b {

  margin-left: auto;
  margin-bottom: 14px;
  color: #323232;

  font-size: 15px;
  line-height: 18px;
}

.basket-wrapper .button {
  margin-left: auto;
  margin-bottom: 5px;
  padding: 10px 15px;
}


.popup-show {
  display: block;

  animation: main-animation 0.6s;
}

.show-overlay {
  display: block;
}

.popup-error {
  animation: shake 0.6s;
}

@keyframes main-animation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
